<div class="clearfix">
  <h4 class="left" style="margin-top: 0">Available rooms</h4>
  <span class="right">
    <label>Order by:</label>
    <select>
      <option>Initial order</option>
      <option>Name</option>
      <option>Price per adult</option>
    </select>
  </span>
</div>

<ul class="hotel-rooms__list">
  <app-hotel-room
    *ngFor="let room of rooms;let first = first"
    [room]="room"
    [isFirst]="first"
    [isSelected]="selectedRooms$ | async | hotelSelected:room.id"
    (select)="onSelected($event)">
  </app-hotel-room>
</ul>
