.rooms-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

.hotel {
  margin-bottom: 40px;
}

.selected-room-text {
  font-size: 16px;
}

.selected-rooms-list li {
  margin-bottom: 30px;
}

.room-occupancy {
  margin-bottom: 10px;
}