<div class="clearfix">
  <h4 class="left" style="margin-top: 0">Available rooms</h4>
  <span class="right">
    <label>Order by:</label>
    <select [ngModel]="orderValue" (ngModelChange)="onSelectOrder($event)">
      <option
        *ngFor="let order of orderBy"
        [ngValue]="order.value">{{order.text}}</option>
    </select>
  </span>
</div>

<ul class="hotel-rooms__list">
  <app-hotel-room
    *ngFor="let room of rooms | roomOrder:(selectedOrder$ | async); let first = first"
    [room]="room"
    [isFirst]="first"
    [isSelected]="selectedRooms$ | async | roomSelected:room.id"
    (select)="onSelected($event)">
  </app-hotel-room>
</ul>
