<li class="selected-room">
  <p class="selected-room__text"><strong>{{room?.name}}</strong></p>
  <div class="selected-room__occupancy">
    <label>
      Adults
      <select>
        <option>1</option>
        <option selected="">2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </label>
    <label>
      Children
      <select>
        <option selected="">0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </label>
  </div>
  <strong>EUR 250.00</strong>
</li>
