<li class="selected-room">
  <p class="selected-room__text"><strong>{{room?.name}}</strong></p>
  <div class="selected-room__occupancy">
    <label>Adults
      <app-common-selector
        [value]="room.adults"
        [range]="[1,2,3,4]"
        (select)="onAdultsSelected($event)">
      </app-common-selector>
    </label>
    <label>Children
      <app-common-selector
        [value]="room.children"
        [range]="[0,1,2,3]"
        (select)="onChildrenSelected($event)">
      </app-common-selector>
    </label>
  </div>
  <strong>EUR 250.00</strong>
</li>
