<header>
  <h2 class="title">{{hotel.title}}</h2>
  <span class="stars">&#9733; &#9733; &#9733; &#9733;</span>
  <p class="descr">{{hotel.description}}</p>
</header>

<div class="clearfix">
  <h4 class="left" style="margin-top: 0">Available rooms</h4>
  <span class="right">
    <label>Order by:</label>
    <select>
      <option>Initial order</option>
      <option>Name</option>
      <option>Price per adult</option>
    </select>
  </span>
</div>

<ul class="rooms-list">
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Aphrodite luxury room</strong>
      <small>(125 EUR per adult, 60 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Icarus double room</strong>
      <small>(74 EUR per adult, 28 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Sea view diamond</strong>
      <small>(60 EUR per adult, 0 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Single room ecomony</strong>
      <small>(16 EUR per adult, 10 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>All inclusive double room</strong>
      <small>(43 EUR per adult, 8 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Family suite</strong>
      <small>(82 EUR per adult, 47 EUR per child)</small>
    </label>
  </li>
  <li>
    <label class="room-label">
      <input type="checkbox" />
      <strong>Deluxe twin room</strong>
      <small>(23 EUR per adult, 20 EUR per child)</small>
    </label>
  </li>
</ul>