
<h1 class="page-title">Select rooms to book</h1>

<section>
  <app-hotel [hotel]="hotel$ | async"></app-hotel>
</section>

<br />

<section>

  <app-selected-rooms></app-selected-rooms>

  <div>
    <input
      type="submit"
      value="BOOK"
      [disabled]="noRoomsSelected$ | async"
      (click)="onSubmit($event)" />
    <em *ngIf="noRoomsSelected$ | async">No rooms selected</em>
    <span *ngIf="total$ | async">Total Price: <strong>EUR {{total$ | async}}</strong></span>
    <span *ngIf="showError" class="error">Too many rooms</span>
  </div>

</section>

<router-outlet></router-outlet>
