body {
  font-size: 14px;
  font-family: sans-serif;
}

.wrapper {
  width: 1200px;
}

.page-title {
  font-size: 24px;
  font-weight: 100;
  margin: 0 0 30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.error {
  color: red;
  font-size: 13px;
  margin-left: 10px;
}
