.hotel-room {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}

.hotel-room__label {
  padding: 6px 10px;
  display: block;
  cursor: pointer;
}

.hotel-room--first {
  border-top-width: 0;
}

.hotel-room:hover {
  background-color: #f8ffb8;
}

.hotel-room--selected {
  background-color: #b8f757;
}
